h1 {
	text-align: center;
}

.lazyNav {
	width: 100%;
	text-align: center;
	
	font-family: comic sans ms;
}

.lazyNav p {
	display: inline;
}

.lazyNav p a {
	display: inline-block;
	
	padding: 20px 30px 20px 30px;
	text-decoration: none;
	color: #000;
	background-color: #ccc;
}

.lazyNav p a:hover {
	color: #ccc;
	background-color: #000;
}


.error {
	color: red;
}

textarea {
	vertical-align: text-top;
}