body{
	padding: 0px;
	margin: 0px;
}

form {
	width: 40%;
	padding: 30px;
	border: 1px solid #cbcbcb;
	margin: 5px auto;
}

p { text-align: center; }

.note {
	float: right;
	padding-right: 50px;
	width: 30%;
	text-align: right;
}